<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <connectionStrings>
    <!--<add name="AypiAjans" connectionString="Data Source=mssql03.sadecehosting.com;Initial Catalog=db0275956;User ID=user0275956;Password=Aypiajans123" providerName="System.Data.SqlClient" />-->
    <!--<add name="AypiAjans" connectionString="Data Source=.;Initial Catalog=AypiAjans;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="AypiAjansEntities" connectionString="metadata=res://*/DataModel.Model1.csdl|res://*/DataModel.Model1.ssdl|res://*/DataModel.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mssql03.sadecehosting.com;initial catalog=db0275956;user id=user0275956;password=Aypiajans123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="AypiAjansEntities" connectionString="metadata=res://*/DataModel.Model1.csdl|res://*/DataModel.Model1.ssdl|res://*/DataModel.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=AypiAjans;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="AypiAjansEntities" connectionString="metadata=res://*/DataModel.Model1.csdl|res://*/DataModel.Model1.ssdl|res://*/DataModel.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=AypiAjans;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="AypiAjansEntities" connectionString="metadata=res://*/DataModel.Model1.csdl|res://*/DataModel.Model1.ssdl|res://*/DataModel.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mssql03.sadecehosting.com;initial catalog=db0276189;user id=user0276189;password=Aypiajans123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>